<script type="text/x-template" id="workout-form-template">
    <app-loading v-if="loading"></app-loading>
    <form action="" v-else @submit="submit()">
        <div class="mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input v-model="workout.name" type="text" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Local:</label>
            <select class="form-select" v-model="workout.location_id">
                <option :value="null">Sem local</option>
                <option v-for="location in locations" :value="location.id">{{location.name}}</option>
            </select>
        </div>
        <div class="form-buttons">
            <button class="btn btn-success">Enviar</button>
        </div>
    </form>
</script>