<script type="text/x-template" id="calendar-template">
  <div class="calendar">
    <div class="calendar-button next noselect" @click="changeMonth(-1)">
      <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="calendar-button before noselect" @click="changeMonth(1)">
      <i class="fa-solid fa-angle-right"></i>
    </div>

    <div class="calendar-month-name noselect">{{monthsName}}</div>

    <div class="calendar-grid">
      <div class="noselect day day-header">D</div>
      <div class="noselect day day-header">S</div>
      <div class="noselect day day-header">T</div>
      <div class="noselect day day-header">Q</div>
      <div class="noselect day day-header">Q</div>
      <div class="noselect day day-header">S</div>
      <div class="noselect day day-header">S</div>
      <template v-for="line in calendar">
        <div class="noselect day" v-for="day in line" :class="{ workout: day.workout }">{{day.day}}</div>
      </template>
    </div>
  </div>
</script>
