<script type="text/x-template" id="categorias-list-template">
    <div class="table">
    <div class="loading" v-if="!categories.length">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <table class="table table-striped" v-else>
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoria</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="category, index in categories" @click="goTo('categoria',category.id)">
              <th scope="row">{{index + 1}}</th>
              <td>{{category.name}}</td>
            </tr>

          </tbody>
    </table>
</div>
    <div class="add-button" @click="goTo('categorias-form')">
        +
    </div>
</script>