<script type="text/x-template" id="days-workouts-template">
  <div>
    <app-loading v-if="loading"></app-loading>
    <div v-else>
      <app-dates @changeDate="changeDate" :date="date" :key="date"></app-dates>
      <div class="workout-items">
        <div class="workout-item noselect" v-for="dayWorkout in daysWorkouts">
          <input class="workout-check" v-bind:checked="dayWorkout.executed" type="checkbox" @change="update(dayWorkout)">
          <div class="workout-item-body" @click="goTo('day-workout', dayWorkout.id)">
            <div class="workout-item-name">{{dayWorkout.exercise_name}}</div>
            <div class="workout-item-cat">{{dayWorkout.category_name}}</div>
          </div>
          <div class="workout-item-controls">
            <div class="weight-btn" @click="weightUp(dayWorkout)"><i class="fa-solid fa-chevron-up"></i></div>
            <div class="workout-item-weight">{{dayWorkout.weight}}</div>
            <div class="weight-btn" @click="weightDown(dayWorkout)"><i class="fa-solid fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-button" @click="goTo('day-workout-form')">+</div>
</script>
