<script type="text/x-template" id="index-template">
    <div class="index">
        <app-dashboard v-if="page=='dashboard'"></app-dashboard>
        <app-day-workout-list v-if="page=='days-workouts'"></app-day-workout-list>
        <app-exercises-list v-if="page=='exercises'"></app-exercises-list>
        <app-workouts-list v-if="page=='workouts'"></app-workouts-list>
        <app-categorias-list v-if="page=='categorias'"></app-categorias-list>
        <app-categorias-form v-if="page=='categorias-form'"></app-categorias-form>
        <app-exercise-form v-if="page=='exercise-form'"></app-exercise-form>
        <app-day-workout-form v-if="page=='day-workout-form'"></app-day-workout-form>
        <app-workout-exercise-form v-if="page=='workout-exercise-form'"></app-workout-exercise-form>
        <app-workout-form v-if="page=='workout-form'"></app-workout-form>
        <app-categoria v-if="page=='categoria'"></app-categoria>
        <app-exercise v-if="page=='exercise'"></app-exercise>
        <app-workout v-if="page=='workout'"></app-workout>
        <app-day-workout v-if="page=='day-workout'"></app-day-workout>
        <app-api-key-form v-if="page=='api-key-form'" @apiKey="setApiKey"></app-api-key-form>
    </div>
</script>