<script type="text/x-template" id="categoria-template">
  <app-loading v-if="loading"></app-loading>
  <div v-else>
    <div class="detail-header">
      <div class="detail-title">{{category.name}}</div>
      <div class="detail-actions">
        <div class="button-icon-div" @click="edit()">
          <i class="fa-solid fa-pen button-icon"></i>
        </div>
        <div class="button-icon-div" @click="remove()">
          <i class="fa-solid fa-trash button-icon"></i>
        </div>
      </div>
    </div>
  </div>
</script>
