<style>
    .footer {
        background: #fff;
        box-shadow: var(--shadow-top);
    }

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu-text {
        font-size: 50%;
        margin-top: 5px;
    }

    .menu-icon {
        font-size: 100%;

    }

    .menu-item.active {
        color: var(--primary);
    }

    .menu-item {
        color: #666;
    }
</style>
<script type="text/x-template" id="footer-template">
    <div class="container">
    <div class="row">
        <div class="menu-item col-2 noselect" :class="{ active: page=='dashboard' }" @click="goTo('dashboard')">
            <i class="fa-solid fa-chart-line menu-icon"></i><div class="menu-text">Dashboard</div>
        </div>
        <div class="menu-item col-2 noselect" :class="{ active: page=='days-workouts' }" @click="goTo('days-workouts')">
            <i class="fa-solid fa-calendar-day menu-icon"></i><div class="menu-text">Dias</div>
        </div>
        <div class="menu-item col-2 noselect" :class="{ active: page=='workouts' }" @click="goTo('workouts')">
            <i class="fa-solid fa-person-running menu-icon"></i><div class="menu-text">Treinos</div>
        </div>
        <div class="menu-item col-2 noselect" :class="{ active: page=='exercises' }" @click="goTo('exercises')">
            <i class="fa-solid fa-dumbbell menu-icon"></i><div class="menu-text">Exercícios</div>
        </div>
        <div class="menu-item col-2 noselect" :class="{ active: page=='categorias' }" @click="goTo('categorias')">
            <i class="fa-solid fa-layer-group menu-icon"></i><div class="menu-text">Categorias</div>
        </div>
        <div class="menu-item col-2 noselect" :class="{ active: page=='config' }" @click="goTo('config')">
            <i class="fa-solid fa-cogs menu-icon"></i><div class="menu-text">Configurações</div>
        </div>
    </div>
</div>
</script>