<script type="text/x-template" id="config-template">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              <th scope="col">Menu</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="noselect" @click="goTo('locations-list')">
                              <td>Locais</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>