<script type="text/x-template" id="exercises-list-template">
  <div>
    <app-loading v-if="loading"></app-loading>
    <div class="list-items" v-else>
      <div class="list-item noselect" v-for="exercise in exercises" @click="goTo('exercise', exercise.id)">
        <div class="list-item-body">
          <div class="list-item-name">{{exercise.name}}</div>
          <div class="list-item-sub">{{exercise.category_name}}<span v-if="exercise.location_id"> · {{locationMap[exercise.location_id]}}</span></div>
        </div>
        <i class="fa-solid fa-chevron-right list-item-arrow"></i>
      </div>
    </div>
  </div>
  <div class="add-button" @click="goTo('exercise-form')">+</div>
</script>
