<script type="text/x-template" id="workouts-list-template">
  <div class="table">
    <app-loading v-if="loading"></app-loading>
    <table class="table table-striped" v-else>
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Workout</th>
            </tr>
          </thead>
          <tbody>
            <tr class="noselect" v-for="workout, index in workouts" @click="goTo('workout',workout.id)">
              <th scope="row">{{index + 1}}</th>
              <td>{{workout.name}}</td>
            </tr>

          </tbody>
    </table>
  </div>
  <div class="add-button" @click="goTo('workout-form')">
      +
  </div>
</script>