<script type="text/x-template" id="workout-exercise-form-template">
    <app-loading v-if="loading"></app-loading>
    <form action="" v-else @submit="submit()">
        <div class="mb-3">
            <label for="weight" class="form-label">Categoria:</label>
            <select class="form-select" v-model="categoryId" @change="changeCategory()" required>
                <option v-for="category in categories" :value="category.id">{{category.name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="weight" class="form-label">Exercício:</label>
            <select class="form-select" v-model="workoutExercise.exercise_id" required>
                <option v-for="exercise in exercises" :value="exercise.id">{{exercise.name}}</option>
            </select>
        </div>
        <div class="form-buttons">
            <button class="btn btn-success">Enviar</button>
        </div>
    </form>
</script>